.feedback-desc {
    text-align: center;
    margin-bottom: 20px!important;
}

.feedback-desc>h3 {
    margin-bottom: 35px!important;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    width: 289px;
    height: 41px;
    position: absolute;
    bottom: 344;
    margin-bottom: 20px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-area {
    min-height: 215px!important;
    height: unset!important;
    border: 1px solid #707070;
    border-radius: 20px;
    padding: 10px!important;
}

@media(max-width :320px) {
    .text-area {
        min-height: 150px!important;
    }
}