body {
    font:18px 'Gilroy', sans-serif;
    font-family: 'Gilroy';
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    }

ul{ 
    list-style: none;    
}
a{
    text-decoration: none;
}
    
.container{
    width:100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    width: 350px;
    /* height: 610px; */
    background-color: #1e1e26;
    border-radius: 10px;
    /* box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5); */
    box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.36);
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
    
}

.box img{
    border-radius: 10px;
}

.model{
    width: 350px;
    height: 100%;
    max-height: 100%;
    
}

.logo{
    padding: 10px; 
    height:48px;
}

.header{
    background-color: #fff !important;
    /* box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.28); */

}

.items{
    display: flex;
    overflow: auto;
}

.items::-webkit-scrollbar{
    display: none;
}

.items .item{
    min-width: 150px;
    height: 60px;
    background-color:#fff;
    margin: 10px;
    border-radius: 35px;
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.28);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.circle{
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: red;
}

.circle img{
    height: 50px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .logo{
        padding: 10px; 
        height:28px;
    }
  }