body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

/* Home section style start */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 350px;
    /* height: 610px; */
    background-color: #1e1e26;
    border-radius: 10px;
    /* box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5); */
    box-shadow: 4px 4px 18px -2px rgba(0, 0, 0, 0.36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.box img {
    border-radius: 10px;
}

.model {
    width: 350px;
    height: 100%;
    max-height: 100%;
}

.logo {
    padding: 10px;
    height: 40px;
}

.location {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location i {
    color: #FD6921;
}

.location-details {
    font-weight: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff !important;
    /* box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.28); */
}

.items {
    display: flex;
    overflow: auto;
}

.items::-webkit-scrollbar {
    display: none;
}

.items .item {
    min-width: 150px;
    height: 60px;
    background-color: #fff;
    margin: 10px;
    border-radius: 35px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.28);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.active-state {
    background-color: #FD6921 !important;
    color: #fff !important;
}

.item:active {
    background-color: #FD6921;
    color: #fff;
}

.item:visited {
    background-color: #FD6921;
    color: #fff;
}

.circle {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FD6921;
}

.circle img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.catogory {
    margin-left: 10px;
}

.catogory-title {
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
}

.section {
    width: auto;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.section-card {
    width: 340px;
    height: 210px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 18px -2px rgba(0, 0, 0, 0.36);
    margin-left: 20px;
    margin-bottom: 20px;
}

.vendor-img {
    width: 340px;
    height: 150px;
}

.vendor-img img {
    width: 340px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.vendor-details {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vendor-ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy-Light";
    font-size: 16px;
}

.star-icon {
    color: #FD6921;
}

.vendor-title {
    font-family: "Gilroy-Light";
    font-size: 20px;
}

.video-popup {
    background-color: #faf5f2;
    display: flex;
    padding: 10px;
    border-radius: 20px !important;
    height: 278px;
    width: 323px;
    justify-content: center;
    align-items: center;
}

/* Home section style end */

/*Carousel UI style start */

.lSPager.lSpg>li:hover a, .lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #FD6921 !important;
}

/*Carousel UI style end */

/* mobile style start */

@media only screen and (max-width: 700px) {
    .filter-popup {
        border-radius: 20px !important;
        height: 260px !important;
        width: 93% !important;
    }
    .section {
        justify-content: center;
    }
    .section-card {
        width: 100%;
        height: 180px;
        margin-left: unset !important;
    }
    .vendor-img {
        width: 100%;
        height: 120px;
    }
    .vendor-img img {
        width: 100%;
        height: 120px;
    }
    .logo {
        padding: 10px;
        height: 28px;
    }
    .search-bar .input-field-icon {
        left: 88% !important;
    }
}

/* mobile style end */

/*Targets the Ipad - Landscape*/

@media only screen and (min-width: 850px) and (max-width: 1024px) {
    .section {
        justify-content: center;
    }
}

/*Targets the Iphone - LandScape*/

@media only screen and (min-width: 769px) and (max-width: 849px) {
    .section {
        justify-content: center;
    }
}

/*Targets the Ipad Pro - LandScape*/

@media only screen and (min-width: 1025px) {
    .section {
        justify-content: center;
    }
}