/* .login-body-container>div {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.left-section {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.middle-section {
    display: none;
}

.right-section {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.login-body-container>div:not(:first-child) {
    background-color: #F9F9F9;
}

.login-body-container>div:not(:first-child)>img:first-child {
    width: 160px;
    height: 90px;
}

.login-body-container>div:not(:first-child)>img:not(:first-child) {
    margin: 25px 0px 25px 0px;
}

.login-body-container>div:not(:first-child)>h1 {
    color: #37474F
}

.login-body-container>div:first-child>div>h1 {
    color: #37474F;
    margin-bottom: 25px;
}

.remember-me-container {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.login-btn {
    margin-top: 35px;
    text-align: center;
}

.to-signup-text>a {
    color: #FD6921;
}

.to-signup-text>a:active {
    color: #ff2400 !important;
}
.to-signup-text>a:hover {
    color: #ff4500 !important;
}

.login-img-iPad {
    display: flex;
}

.login-img-iPhone {
    display: none;
}

.img-curve {
    display: none;
}

.ui-content .icon-container {
    left: 15px!important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-content .icon-container .material-icons {
    color: #FD6921;
    font-size: 20px;
    text-shadow: none;
    position: relative;
    top: 0px;
    left: 4px;
}


@media only screen and (max-width: 700px) {
    .login-body-container {
        flex-direction: column-reverse;
    }
    .login-img-iPad {
        display: none !important;
    }
    .login-img-iPhone {
        display: flex;
        margin: 0px !important;
    }
    .login-body-container>div:not(:first-child)>img:not(:first-child) {
        height: 200px !important;
    }
    .left-section {
        padding: 20px;
        min-height: 50vh !important;
        justify-content: unset !important;
    }
    .middle-section {
        display: flex !important;
        background-color: unset !important;
        min-height: 10vh !important;
    }
    .right-section {
        justify-content: unset !important;
        min-height: 40vh !important;
    }
    .img-curve {
        display: flex !important;
        width: 100% !important;
        height: unset !important;
    }
}