.ui-content {
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: black;
}

#qr-canvas {
    /* margin: auto;
    width: calc(100% - 20px);
    max-width: 400px; */
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    
    -o-object-fit: contain;
    object-fit: contain;
  }

  #qr-result {
    /* max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain; */
  }

  .card{
    margin-bottom: 1px !important;
  }

  .action-btn>button{
    width: 180px !important;
  }

  .popup-body{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 190px;
    text-align: center;
  }

  .action-btn{
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  
  .points{
    color:#FD6921;
  }  


  .popup {
    background-color: white;
    border-radius: 20px;
    min-height: 250px !important;
    width: 561px;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.6);
    box-shadow: 0 0 12px rgba(0,0,0,.6);
}

.popup-screen {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #7e7e7e !important;
}

.pop-up-content{
  padding: 20px;
  text-align: center;
}

.camera-bg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-border{
  border: 3px dashed #FD6921; 
}

.center-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items:center ;
  min-height: 80vh;

}
/* iPhone 5 */
@media only screen and (max-width: 320px)  {
  .popup {
    min-height: 256px !important;
    width: 263px !important;
}
}