body {
    margin: 0;
}

/* Typograghy Start */

h1 {
    margin: 0!important;
    font-size: 28px!important;
}

h2 {
    margin: 0!important;
    font-size: 24px!important;
}

h3 {
    margin: 0!important;
    font-size: 21px!important;
}

h4 {
    margin: 0!important;
    font-size: 18px!important;
}

h5 {
    margin: 0!important;
    font-size: 14px!important;
}

p {
    margin: 0;
}

.subtitle {
    margin: 0!important;
    font-size: 16px!important;
}

.primaryText {
    margin: 0!important;
    font-size: 14px!important;
}

.secondaryText {
    margin: 0!important;
    font-size: 12px!important;
}

.infoText {
    margin: 0!important;
    font-size: 10px!important;
    /* text-overflow:ellipsis; 
    white-space:nowrap */
    /* white-space: nowrap; */
/* width: 50px; */
/* overflow: hidden;
text-overflow: clip; */
}

/* div.infoText:hover {
    overflow: visible;
  } */

.date {
    margin: 0;
    font-size: 10px;
}

/* .content-body {
    background-color: !important;
/* Typograghy End */

.ui-content {
    /* padding: 0 !important; */
    min-height: 100vh;
    background-color: white;
}

.ui-content-header {
    margin-top: 55px;
    min-height: 94vh!important;
}

.ui-focus {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.ui-checkbox input {
    left: inherit!important;
    width: 15px!important;
}

.d-flex {
    display: flex !important;
}

.header-bar {
    min-height: 55px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white!important;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2)!important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-bar>img {
    position: absolute;
    left: 30px;
    width: 100px;
}

.header-bar>i {
    position: absolute;
    left: 34px;
}

.arrow {
    border: solid #FD6A22;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* cross sign */

.close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    /* opacity: 0.3; */
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #FD6921!important;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }  

/* Footer Style Start */

.footer {
    background-color: #000000!important;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    position: relative;
    color: #ffffff!important;
    text-shadow: none!important;
}

.footer-top {
    display: flex;
    margin-bottom: 40px;
}

.footer-top>div {
    flex: 1;
}

.footer-left>p {
    color: rgba(255, 255, 255, 0.75);
}

.footer-left>p>a {
    color: inherit;
    text-decoration: none;
}

.footer-right {
    text-align: right;
    vertical-align: middle;
}

.footer-right>img {
    width: 190px;
    height: 110px;
}

.footer-bottom {
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 35%;
    left: 35%;
}

.footer-bottom>p {
    margin: 0;
}

/* Footer Style End */

/* Input Field Styles Begin*/

.input-field-container {
    display: flex;
    position: relative;
    align-items: center!important;
    margin-top: 20px;
}

.input-field-container>div {
    margin: 0;
    border-top: solid 1px #787878!important;
    border-right: solid 1px #787878!important;
    border-bottom: solid 1px #787878!important;
    border-left: solid 1px #787878!important;
    border-radius: 20px;
}

.input-field-container>div>input {
    width: 290px;
    color: #787878;
    padding: 10px;
    background: inherit!important;
}

.input-field-icon-input {
    padding-left: 40px!important;
}

.input-field-icon {
    font-size: 20px;
    position: absolute;
    left: 12px;
    color: #787878;
}

/* Input Field Styles End*/

.action-btn>button {
    background-color: #FD6921!important;
    border-color: #FD6921!important;
    border-radius: 20px!important;
    text-shadow: none!important;
}

.action-btn>button>p {
    color: white;
}