<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="./test.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

   
    <!-- <link rel="stylesheet" href="../css/about-us.css" /> -->

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
     <script src="./test.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

</head>
<body>
    <a id= "abc" >test</a>
 
    <div data-role="popup" class="pop" id="i" style="overflow-y: hidden; height: 646px; width:390px  ">
        <div class="popup-header">
            <i class=" material-icons" id="close">close</i>
            <h4>About Us</h4>
        </div>
    <iframe src="../components/about-us.html?popup=true" id="y" style="width:390px; overflow: hidden;height:646px;border-radius:0px 0px 20px 20px;border: none !important;"></iframe>
   </div>
</body>
</html>