<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Payment | Eato</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../css/site.css" /> -->
    <link rel="stylesheet" href="../css/add-payment.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <!-- toast Links -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!--    <script src="../js/order-confirmation.js" defer></script> -->
    <script src="../js/add-payment.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>
    <div data-role="page">
        <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar" id="header-bar">
            <i class="arrow arrow-left" onclick="goBack()"></i>
            <h4>Add Payment</h4>
        </div>
        <div data-role="main" class="ui-content ui-content-header">
            <div style="border-radius: 20px">
                <div class="popup-body">
                    <form id="payment-form" action="">
                        <div class="popup-input">
                            <span class="subtitle" style="margin-left: 5px !important;">Name on Card</span>
                            <input type="text" id="cardname" placeholder="Name" />
                        </div>
                        <div class="popup-input">
                            <span class="subtitle" style="margin-left: 5px !important;">Card Number</span>
                            <input type="text" id="cardnum" placeholder="Number" pattern="[0-9]+" />
                        </div>
                        <div class="popup-input">
                            <span class="subtitle" style="margin-left: 5px !important;">Expiry Date</span>
                            <input type="text" id="expdt" placeholder="MM/YY" />
                        </div>
                        <div class="popup-input">
                            <span class="subtitle" style="margin-left: 5px !important;">CVC</span>
                            <input type="text" id="cvc" placeholder="CVC" />
                        </div>
                        <div class="popup-input">
                            <span class="subtitle" style="margin-left: 5px !important;">Postal Code</span>
                            <input type="text" id="pc" placeholder="Postal Code" />
                        </div>
                        <p id="all-error-msg" style="color:red;"></p>
                    </form>
                </div>
            </div>
            <div class="popup-footer footer-addP">
                <div class="action-btn">
                    <button type="button" id="btn-confirm">
                        <p class="primaryText">Add Payment</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>