<html>

<head>
    <title>Message | Eato</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/chat-customer.css" />
    <script src="../js/chat.js"></script>
</head>

<body>
    <div data-role="page">
        <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar">
            <!-- <img src="../assets/logo new.svg"> -->
            <i class="arrow arrow-left"></i>
            <h4>Message</h4>
        </div>
        <div role="main" class="ui-content ui-content-header">
            <div class="main-container chat-container">
                <div class="profile">
                    <div class="profile-pic-container">
                        <div class="profile-pic"></div>
                    </div>
                    <h2>Melt House</h2>
                    <div class="rating d-flex">
                        <p class="subtitle">4.9</p>
                        <i class="material-icons">grade</i>
                    </div>
                </div>
                <div class="messages" id="render-messages">
                    <div id="render-message-vend">
                        <!-- <div class="recieved-message" >
                        <span class="primaryText">How long will it take to prepare the order?</span>
                    </div> -->
                    </div>
                    <div id="render-message-cust">
                        <!-- <div class="sent-message" >
                            <div>
                                <span class="primaryText">How long will it take to prepare the order?</span>
                            </div>
                        </div> -->
                    </div>
                    
                </div>
            </div>
            <div class="message-input">
                <div class="input-field-container">
                    <section class="send-btn input-field-icon">
                        <i class=" material-icons" onclick="sendMessage()">send</i>
                    </section>
                    <input type="text" placeholder="Type message..." id="message">
                </div>
            </div>
        </div>
    </div>
</body>

</html>