<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/favourites.css" />
    
    <script src="../js/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div data-role="page">
        <div class="ui-content">

            <div class="search-flex-container">

                <div class="input-field-container input-field-container-ovrd">
                    <i class=" material-icons input-field-icon input-icon-reverse">search</i>
                    <input class="input-field-icon-input input-size-ovrd" type="text" placeholder="Search..." name="search">
                </div>
                   
                <div class="search-filter-container">
                    <i class=" material-icons" id= "icon-sort">sort</i>
                </div>
            </div>
            <!-- Flexc for POI Part -->
            <div class="flex-container">
                    
                <!-- Start of POI -->
                <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->

                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->

                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->


                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->

                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->

                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->


                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->

                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->


                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->

                 <!-- Start of POI -->
                 <div class="poi-container">
                    <div class="image-container">
                        <div class="heart-container"> 
                            <i class=" material-icons icon-fav">favorite</i>
                        </div>
                    </div>

                    <div class="info-container">
                        <div class= "info-line-1">
                            <h2>Melt House</h2>
                            <input type="checkbox" />
                        </div>
                        <div class= "info-line-2">
                            <i class=" material-icons icon-star">grade</i>
                            <h4> 4.9</h4>
                        </div>
                    </div>    
                </div>
                <!-- End of POI -->

 <!-- Start of POI -->
 <div class="poi-container">
    <div class="image-container">
        <div class="heart-container"> 
            <i class=" material-icons icon-fav">favorite</i>
        </div>
    </div>

    <div class="info-container">
        <div class= "info-line-1">
            <h2>Melt House</h2>
            <input type="checkbox" />
        </div>
        <div class= "info-line-2">
            <i class=" material-icons icon-star">grade</i>
            <h4> 4.9</h4>
        </div>
    </div>    
</div>
<!-- End of POI -->
 </div>


                <div data-position="fixed" class="share-button-container">
                    <i class="material-icons" id="icon-share" >share</i>
                </div>

            <div data-role="footer" data-position="fixed" style="height: 50px;" data-tap-toggle="false" > 
                
            </div>

        </div>
    </div>
</div>
</body>

</html>