<html>

<head>
    <title>Food Item</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/food-item.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- toast Links -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="/js/food-item.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>
    <div data-role="page">
        <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar">
            <!-- <img src="../assets/logo new.svg"> -->
            <i onclick="goBack()" class="arrow arrow-left"></i>
            <h4>Food Item</h4>
        </div>
        <div role="main" class="ui-content ui-content-header" id="render-food-item">
            <!-- <div class="main-container food-item-page">
                <div class="item-bg">
                    <img src="">
                </div>
                <div class="d-flex item-details">
                    <h4 id="food-name"></h4>
                    <div>
                        <span>Rs</span>
                        <span id="price"></span>
                    </div>
                </div>
                <div class="adjust-quantity food-item-page-quantity">
                    <button class="quantity-minus" onclick="quantity('minus')">
                        <i class="material-icons">remove</i>
                    </button>
                    <span id="display-quantity"></span>
                    <button class="quantity-plus" onclick="quantity('plus')">
                        <i class="material-icons">add</i>
                    </button>
                </div>
                <div class="item-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum non ante tristique
                        rutrum.</p>
                </div>
                <div>
                    <div>
                        <div class="action-btn">
                            <button type="button" onclick="addToCart('m1')">
                                <p class="primaryText">Add To Cart</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>

</html>