<html>

<head>
    <title>Food Item</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/food-item-ipad.css" />

</head>

<body>
    <div class="food-item-page-web">
        <div class="fipw-item-bg">
            <div class="icon-container icon-close">
                <i class=" material-icons">close</i>
            </div>
        </div>
        <div>
            <div class="d-flex fipw-item-details">
                <h4>Cheese Pizza</h4>
                <div>
                    <span>Rs</span>
                    <span>650</span>
                </div>
            </div>
            <div class="adjust-quantity fipw-food-item-page-quantity">
                <button class="quantity-minus">
                    <i class="material-icons">remove</i>
                </button>
                <span id="display-quantity">1</span>
                <button class="quantity-plus">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div class="fipw-item-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum non ante tristique
                    rutrum.</p>
            </div>
        </div>
        <div>
            <div class="action-btn">
                <button type="button">
                    <p class="primaryText">Add To Cart</p>
                </button>
            </div>
        </div>
    </div>
</body>

</html>