<!DOCTYPE html>
<html>

<head>
    <title>Home | Eato</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/lightslider.css">
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <script src="../js/script.js"></script>
    <script src="../js/home.js"></script>
      
    <!-- jQuery -->
    <script type="text/javascript" src="../js/JQuery3.3.1.js"></script>
    <script type="text/javascript" src="../js/lightslider.js"></script>
</head>

<body>
    <div data-role="page">
        <div data-role="header" class="header" data-position="fixed" data-tap-toggle="false">
            <img src="../assets/logo new.svg" alt="Computer Man" class="logo">
            <div class="location">
                <i class="material-icons start-icon">location_on</i> 
                <div class="location-details">Colombo,LK</div>
            </div>
        </div>
        <div class="body">
            <div class="container">

                <!--slider------------------->
                <ul id="autoWidth" class="cs-hidden">
                    <!--1-start------------------------------>
                    <li class="item-a">
                        <!-- slider-box -->
                        <div class="box">
                            <!-- promo 01 -->
                            <img src="../assets/img-home/promotion.jpg" class="model" height="100px">

                        </div>
                    </li>
                    <!--1-end------------------------------>

                    <!--2-start------------------------------>
                    <li class="item-a">
                        <!-- slider-box -->
                        <div class="box">
                            <!-- promo 02 -->
                            <img src="../assets/img-home/promotion2.jpg" class="model" height="100px">

                        </div>
                    </li>
                    <!--2-end------------------------------>

                    <!--3-start------------------------------>
                    <li class="item-a">
                        <!-- slider-box -->
                        <div class="box">
                            <!-- promo 03 -->
                            <img src="../assets/img-home/promotion3.jpg" class="model" height="100px">

                        </div>
                    </li>
                    <!--3-end------------------------------>

                </ul>
            </div>

            <div class="container">
                <div class="items">
                    <div class="item active-state">
                        <div class="circle">
                            <img src="../assets/food/indian.jpg">
                        </div>
                        <div class="catogory">Indian</div>
                    </div>
                    <div class="item">
                        <div class="circle">
                            <img src="../assets/food/bakery.jpg">
                        </div>
                        <div class="catogory">Bakery</div>
                    </div>
                    <div class="item">
                        <div class="circle">
                            <img src="../assets/food/Desserts.jpg">
                        </div>
                        <div class="catogory">Dessert</div>
                    </div>
                    <div class="item">
                        <div class="circle">
                            <img src="../assets/food/italian.jpg">
                        </div>
                        <div class="catogory">Italian</div>
                    </div>
                    <div class="item">
                        <div class="circle">
                            <img src="../assets/food/Burger.jpg">
                        </div>
                        <div class="catogory">Burger</div>
                    </div>
                </div>
            </div>
            <div class="catogory-title">
                <h3>Indian Foods </h1>
            </div>
            <div class="section">
                <div class="section-card" onclick="goToVendor(1)">
                    <div class="vendor-img">
                        <img src="../assets/food/indian.jpg">
                    </div>
                    <div class="vendor-title"> Melt House Indian</div>
                </div>
                <div class="section-card" onclick="goToVendor(2)">
                    <div class="vendor-img">
                        <img src="../assets/food/suburban.jpeg">
                    </div>
                    <div class="vendor-title"> Suburban Kitchen</div>
                </div>
                <div class="section-card">
                    <div class="vendor-img">
                        <img src="../assets/food/italian.jpg">
                    </div>
                    <div class="vendor-title"> italian Cuisine</div>
                </div>
                <div class="section-card">
                    <div class="vendor-img">
                        <img src="../assets/food/Desserts.jpg">
                    </div>
                    <div class="vendor-title"> Desserts Dine</div>
                </div>
            </div>

            <!-- Footer -->
            <div data-role="footer" class="footer">
                <div class="footer-top">
                    <div class="footer-left">
                        <h4>Contact</h4>
                        <p class="secondaryText"><a href="mailto:info@eato.eat">info@eato.eat</a></p>
                        <br>
                        <h4>Address</h4>
                        <p class="secondaryText">50, Chez Road, Panisse</p>
                    </div>
                    <div class="footer-right">
                        <img src="../assets/logo/eoto_logo_light.png">
                    </div>
                </div>
                <div class="footer-bottom">
                    <i class="material-icons">account_circle</i>
                    <i class="material-icons">account_circle</i>
                    <i class="material-icons">account_circle</i>
                    <p class="footer-copyrights infoText">© 2021 Eato. All Rights Reserved.</p>
                </div>
            </div>
            <!-- Footer -->

        </div>
        <!-- Navbar  -->
        <div data-role="footer" class="nav-glyphish-example bottom-nav" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar" data-grid="d" data-theme="a">
                <ul>
                    <li><a href="#" data-icon="home" class="ui-btn-active nav-home navbar-btn">Home</a></li>
                    <li><a href="#" class="nav-search navbar-btn" data-icon="search">Search</a></li>
                    <li><a href="#" data-icon="shop" class="nav-cart navbar-btn">Cart</a></li>
                    <li><a href="#" data-icon="grid" class="nav-order navbar-btn">Order</a></li>
                    <li><a href="#" data-icon="user" class="nav-profile navbar-btn">Profile</a></li>
                </ul>
            </div>
        </div>
        <!-- Navbar  -->
    </div>
    </div>
</body>

</html>