<!DOCTYPE html>
<html>

<head>
    <title>Introductory | Eato</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/lightslider.css">
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/introductory.css" />
    <script src="../js/script.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/common.js"></script>

    <!-- jQuery -->
    <!-- <script type="text/javascript" src="../js/JQuery3.3.1.js"></script> -->
    <script type="text/javascript" src="../js/lightslider.js"></script>
</head>

<body>
    <div data-role="page">
        <div class="body">
            <div class="skip" onclick="navigation('home')">
                <h4>skip</h4>
            </div>
            <div class="container">
                <!--slider------------------->
                <ul id="autoWidth" class="cs-hidden">
                    <li class="item-a">
                        <div class="box">
                            <h2>Tasty Food</h2>
                            <img src="../assets/intro/food.png" class="model" height="100px">
                            <div class="text-content">
                                <p>
                                    We have a wide range of vendors and dishes  You can enjoy your favourite dishes with us.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="item-a">
                        <div class="box">
                            <h2>Fast Delivery</h2>
                            <img src="../assets/intro/delivery.png" class="model" height="100px">
                            <div class="text-content">
                                <p>
                                    We provide door to door service in mean time with best quality
                                     of food.
                                       
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="item-a">
                        <div class="box">
                            <h2>Gamification</h2>
                            <img src="../assets/intro/gamification.png" class="model" height="100px">
                            <div class="text-content">
                                <p>
                                    Enjoy discount from vendors and us by making more purchases and getting rewards
                                    from vendors through qr code. Scan it usin our app and earn loyalty points and achieve discounts.
                                </p>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    </div>
</body>

</html>