<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <script src="../js/login.js"></script>
</head>

<body>
    <div data-role="page">
        <div role="main" class="ui-content">
            <div class="login-body-container d-flex">
                <div>
                    <div>
                        <h1>Login</h1>
                        <div class="input-field-container">
                            <i class=" material-icons input-field-icon">person</i>
                            <input class="input-field-icon-input" type="text" placeholder="Username" name="usrnm">
                        </div>
                        <div class="input-field-container">
                            <i class=" material-icons input-field-icon">lock</i>
                            <input class="input-field-icon-input" type="text" placeholder="Password" name="pswrd">
                        </div>
                        <div class="remember-me-container">
                            <input type="checkbox">
                            <p class="primaryText">Remember Me</p>
                            <p class="primaryText">Forgot Password?</p>
                        </div>
                        <div class="action-btn login-btn">
                            <button type="button">
                                <p class="primaryText">Login</p>
                            </button>
                            <p class="primaryText to-signup-text">Don't have an account? <a>Signup</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="../assets/logo/eoto_logo_dark.png">
                    <img src="../assets/vectors/User_login_iPad.svg">
                    <h1>Welcome Back!</h1>
                </div>
            </div>
        </div>
        <div data-role="footer" class="footer">
            <div class="footer-top">
                <div class="footer-left">
                    <h4>Contact</h4>
                    <p class="secondaryText"><a href="mailto:info@eato.eat">info@eato.eat</a></p>
                    <br>
                    <h4>Address</h4>
                    <p class="secondaryText">50, Chez Road, Panisse</p>
                </div>
                <div class="footer-right">
                    <img src="../assets/logo/eoto_logo_light.png">
                </div>
            </div>
            <div class="footer-bottom">
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <p class="footer-copyrights infoText">© 2021 Eato. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>