<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>

    <script src="../js/login.js"></script>
</head>

<body>
    <div data-role="page">
        <div data-role="content" data-theme="a" class="content-body"></div>
        <div data-role="footer" class="footer">
            <div class="footer-top">
                <div class="footer-left">
                    <h4>Contact</h4>
                    <p class="secondaryText"><a href="mailto:info@eato.eat">info@eato.eat</a></p>
                    <br>
                    <h4>Address</h4>
                    <p class="secondaryText">50, Chez Road, Panisse</p>
                </div>
                <div class="footer-right">
                    <img src="../assets/logo/eoto_logo_light.png">
                </div>
            </div>
            <div class="footer-bottom">
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <p class="footer-copyrights infoText">© 2021 Eato. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>