<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/order-confirmation.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- <script src="../js/stripe-intg.js" defer></script> -->

    <title>Order confirmation</title>
</head>
<body>
    <div data-role="page">
    <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar">
        <!-- <img src="../assets/logo new.svg"> -->
        <i class="arrow arrow-left"></i>
        <h4>Order confirmation</h4>
    </div>

    <div role="main" class="ui-content ui-content-header">  
         <div class="payment-container">
            <h4>Payment Details</h4>'
            <form action="">
                <div class="input-container">
                    <label for="cardname">Name on Card</label>
                    <input type="input" class="field" name="cardname" placeholder="Name on Card" id="cardname"/>
                </div>

                <div class="input-container">
                    <label for="cardname">Card Number</label>
                    <input type="input" class="field" name="cardnum" placeholder="Card Numbers" id="cardnum"/>
                </div>

                <div style="display: inline-flex; padding-top: 10px; gap: 10px;" class="input-flex-container">
                <div class="input-container">
                    <label for="expdt">Expiry Date</label>
                    <input type="input" class="field-small" name="expdt" placeholder="MM/YY" id="expdt"/>
                </div>

                <div class="input-container">
                    <label for="expdt">CVV</label>
                    <input type="input" class="field-smaller" name="expdtexpdtexpdt" placeholder="CVV" id="cvv"/>
                </div>
            </div>
                    
                <div class="input-container">
                    <label for="pct">Postal Code</label>
                    <input type="input" class="field" name="pc" placeholder="Postal Code" id="pc"/>
                </div>
                <p id="all-error-msg"> Invalid Input </p>
            </form>
         </div>

    <div class="other-info-container">
            <div id="loyalty-points-checkbox" style="display: inline-flex; justify-content: flex-start;">
                    <label id="add-loyalty-label" for="add-loyalty">Add Loyalty Points</label>
                    <input type="checkbox"  id="add-loyalty" />
            </div>
    </div>
    </div>
</div>

    <div data-role="footer" data-postion="fixed" data-fullscreen="true" class="btn-footer">
          <button id="btn-confirm-order">Confirm Order</button>
    </div>
</body>
</html>