<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../css/site.css" /> -->
    <link rel="stylesheet" href="../css/order-status.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/order-status.js"></script>
    <script src="../js/common.js"></script>
    <title>Order Status</title>
</head>
<body>
    <div data-role="page">
        <div class="se-pre-con">
            <p class="order-processing-msg"></p>
        </div>
        <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar">
            <!-- <img src="../assets/logo new.svg"> -->
            <i class="arrow arrow-left" onclick="navigation('order')"></i>
            <h4>Order Status</h4>
        </div>

        <div data-role="main" class="ui-content" id="background-map">

                <div class="map-pin" id="pin-customer-container">
                    <i class=" material-icons icons">place</i>
                </div>
                <div class="map-pin" id="pin-vendor-container"> 
                    <i class=" material-icons icons">two_wheeler</i>
                </div>

                <div class="footer-order-status" > 
                   <div class="vendor-info-container">
                        <div class="vendor-img-container">
                            
                        </div>
                        <div class="vendor-name-container">
                              <h3 id="name"> S.Harrish</h3>
                        </div>
                   </div>

                   <div class="chat-container">
                           <i class=" material-icons" onclick="navigation('customer-chat')">chats</i>
                   </div>
                </div>
        </div>

        
    </div>
</body>
</html>