<!-- <html>

<head>
    <title>Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <link rel="stylesheet" href="../css/card-css.css" />

    <script src="../js/profile.js"></script>
</head>

<body>
    <div data-role="page">
        <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar">
            <img src="../assets/logo new.svg">
            <!-- <i class="arrow arrow-left"></i> -->
            <h4>Profile</h4>
        </div>
        <div role="main" class="ui-content ui-content-header">
            <div class="profile-body-container d-flex">
                <div>
                    <div class="card loyalty-balance d-flex">
                        <div>
                            <h4>Loyalty Balance</h4>
                            <img src="../assets/trophy.png">
                            <h4>1234 Points</h4>
                            <h5>1500 points till your next reward</h5>
                        </div>
                        <div>
                            <div class="vertical-line"></div>
                        </div>
                        <div>
                            <h4>Share and get 200 points</h4>
                            <h5>Refer your friends and get 200 loyalty<br>points each on their first transactions</h5>
                            <div class="action-btn">
                                <button type="button">
                                    <p class="primaryText">Share Invite Code</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card recent-activity">
                        <h4>Recent Activity</h4>
                    </div>
                </div>
                <div class="card">
                    <p>Hello</p>
                </div>
            </div>
            <!-- <a onclick="goToQRCamera()" data-role="button">QR camera</a> -->
        </div>
        <div data-role="footer" class="footer">
            <div class="footer-top">
                <div class="footer-left">
                    <h4>Contact</h4>
                    <p class="secondaryText"><a href="mailto:info@eato.eat">info@eato.eat</a></p>
                    <br>
                    <h4>Address</h4>
                    <p class="secondaryText">50, Chez Road, Panisse</p>
                </div>
                <div class="footer-right">
                    <img src="../assets/logo/eoto_logo_light.png">
                </div>
            </div>
            <div class="footer-bottom">
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <p class="footer-copyrights infoText">© 2021 Eato. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

</html> -->