<html>

<head>
    <title>Reviews</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->
    <link rel="stylesheet" href="../css/card-css.css" />
    <link rel="stylesheet" href="../css/customer-review.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/customer-review.js"></script>
</head>

<body>
    <div data-role="page" id="review">
        <!-- <div data-role="header" data-position="fullscreen"> -->
        <div class="card">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <div class="ui-bar ui-bar" style="height: 30px;">
                        <div class="ui-bar ui-bar">
                            <!-- <img src="../assets/leftarrow.png" style="height: 15px;"> -->
                        </div>
                    </div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-bar ui-bar" style="height: 30px; text-align: center;   display: flex;
                    justify-content: center;
                    align-items: center;">Profile</div>
                </div>
                <div class="ui-block-c">
                    <div class="ui-bar ui-bar" style="height: 30px;"></div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <div role="main" class="ui-content">
            <a href="#" data-role="button">QR camera</a>
        </div>
    </div>
</body>

</html>