<html>

<head>
    <title>Reviews</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->
    <link rel="stylesheet" href="../css/card-css.css" />
    <link rel="stylesheet" href="../css/QR-scanner.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/QR-scanner.js"></script>
    <!-- <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script> -->
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/common.js"></script>

</head>

<body>
    <div data-role="page" id="qr-scanner">
        <!-- <div data-role="header" data-position="fullscreen"> -->
            <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar">
                <i class="arrow arrow-left" onclick="goBack()"></i>
                <h4>QR Scanner</h4>
            </div>
        <!-- </div> -->
        <div role="main">
            <!-- <a id='btn-scan-qr' href="#" data-shadow="false" data-theme="none"
            onclick="qrScanner();">here first</a> -->
            <!-- <a id='btn-scan-qr' href="#" data-shadow="false" data-theme="none"
            onclick="scanClick();">True</a> -->
            <div class="camera-bg">
                <canvas hidden="" id="qr-canvas"></canvas>
            </div>
            <div id="qr-result" hidden="">
                <!-- <b>Data:</b> <span id="outputData"></span> -->
                <div class="popup-screen">
                    <div class="popup">
                        <div class="popup-header">
                            <i onclick="navigation('qr-cam')"  id="close-popup" class=" material-icons">close</i>
                            <h4>Success</h4>
                        </div>
                        <div class="pop-up-content">
                            <h5>You have received</h4><h3 class="points" id="outputData"></h3>
                            <h5>loyalty points. Check the loyalty section under Profile to see the gift you received.</h5>
                        </div>
                        <div class="">
                            <div class="action-btn">
                                <button type="button" onclick="navigation('profile')">
                                    <p class="primaryText">OK</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>