<html>

<head>
    <title>Reviews</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->
    <link rel="stylesheet" href="../css/card-css.css" />
    <link rel="stylesheet" href="../css/QR-scanner.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/QR-scanner.js"></script>
    <!-- <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script> -->
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/common.js"></script>

</head>

<body>
    <div data-role="page" id="qr-scanner">
        <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar">
            <i class="arrow arrow-left" onclick="goBack()"></i>
            <h4>QR Scanner</h4>
        </div>
        <!-- </div> -->
        <div role="main">
            <canvas hidden="" id="qr-canvas"></canvas>
            <div id="qr-result" hidden="">
                <!-- <b>Data:</b> <span id="outputData"></span> -->
                <div class="card">
                    <div class="pop-up">
                        <div class="pop-up-content">
                            <h6><span id="outputData"></span></h6>
                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>
        <!-- <div data-role="popup" class="popup" id="popup-modal" data-theme="a" style="border-radius: 20px;">
            <div class="popup-header">
                <i class=" material-icons">close</i>
                <h4>Success</h4>
            </div>
            <div class="popup-body">
                <div class="details">
                    <div id="final-message" class="message"></div>
                    <div class="action-btn">
                        <button type="button">
                            <p class="primaryText">OK</p>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</body>

</html>