<!DOCTYPE html>
<html>

<head>
    <title>Search | Eato</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/lightslider.css">
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/search.css" />
    <script src="../js/search.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header" data-postion="fixed" data-fullscreen="true" class="header-bar" style="position: fixed;">
            <img src="../assets/logo new.svg">
        </div>
        <div role="main" class="ui-content ui-content-header">
            <div class="container">
                <div class="search-container">
                    <div class="input-field-container search-bar">
                        <i class=" material-icons input-field-icon">search</i>
                        <input type="text" placeholder=" Search..." name="search" id="search"
                            onkeyup="searchVendor()"></input>
                    </div>
                </div>
            </div>
            <div class="container"> 
                <div class="items">
                    <a href="#filter-popup" data-rel="popup" data-position-to="window" id=" popup" data-transition="slideup">
                        <div class="item active-state">
                            <i class="material-icons ">filter_alt</i>
                            <div class="filter">Filter</div>
                        </div>
                    </a>
                    <div class="item">
                        <div class="filter quick-filter" id='Rice'>Rice</div>
                    </div>
                    <div class="item">
                        <div class="filter  quick-filter" id= 'Pizza'>Pizza</div>
                    </div>
                    <div class="item">
                        <div class="filter  quick-filter" id="Burger">Burger</div>
                    </div>
                    <div class="item">
                        <div class="filter  quick-filter" id="Pasta">Pasta</div>
                    </div>
                </div>
            </div>
            <!-- search results -->
            <div class="section" id="section">
                <div data-role="popup" id="filter-popup" data-theme="a" class="filter-popup">
                    <div class="popup-top">
                        <div class="sort-title">
                            <i class="material-icons start-icon">sort</i>
                            <div>Sort</div> 
                        </div>
                        <div class="sort-catagory" id="sort-catagory-sorting">
                            <div class="sort-item" id="a-z">A>Z</div>
                            <div class="sort-item" id="z-a">Z>A</div>
                            <div class="sort-item" id="rating">Rating</div>    
                        </div>
                        <div class="sort-title">
                            <i class="material-icons start-icon">filter_alt</i>
                            <div>Sort</div> 
                        </div>
                        <div class="sort-catagory" id= "star-container">
                            <i class="material-icons start-icon unselected" id="star-1">star</i>
                            <i class="material-icons start-icon unselected" id="star-2">star</i>
                            <i class="material-icons start-icon unselected" id="star-3">star</i>
                            <i class="material-icons start-icon unselected" id="star-4">star</i>
                            <i class="material-icons start-icon unselected" id="star-5">star</i>  
                        </div>
                        
                    </div>
                    <div class="popup-bottom">
                        <div class="action-btn filter-btn">
                            <button type="button" id="confirm-filter" data-role="button">
                                <p class="primaryText">Filter</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div data-role="footer" class="footer">
                <div class="footer-top">
                    <div class="footer-left">
                        <h4>Contact</h4>
                        <p class="secondaryText"><a href="mailto:info@eato.eat">info@eato.eat</a></p>
                        <br>
                        <h4>Address</h4>
                        <p class="secondaryText">50, Chez Road, Panisse</p>
                    </div>
                    <div class="footer-right">
                        <img src="../assets/logo/eoto_logo_light.png">
                    </div>
                </div>
                <div class="footer-bottom">
                    <i class="material-icons">account_circle</i>
                    <i class="material-icons">account_circle</i>
                    <i class="material-icons">account_circle</i>
                    <p class="footer-copyrights infoText">© 2021 Eato. All Rights Reserved.</p>
                </div>
            </div>
            <!-- Footer -->

        </div>
        <!-- Navbar  -->
        <div data-role="footer" class="nav-glyphish-example bottom-nav" data-position="fixed" data-tap-toggle="false">
            <div data-role="navbar" data-grid="d" data-theme="a">
                <ul>
                    <li><a href="#" data-icon="home" class="nav-home navbar-btn">Home</a></li>
                    <li><a href="#" class="ui-btn-active nav-search navbar-btn" data-icon="search">Search</a></li>
                    <li><a href="#" data-icon="shop" class="nav-cart navbar-btn">Cart</a></li>
                    <li><a href="#" data-icon="grid" class="nav-order navbar-btn">Order</a></li>
                    <li><a href="#" data-icon="user" class="nav-profile navbar-btn">Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</body>

</html>