<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>

    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <script src="../js/signup.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div data-role="page">
        <div role="main" class="ui-content">
            <div class="signup-body-container d-flex">
                <div>
                    <div>
                        <h1>Sign up</h1>
                        <div class="input-field-container">
                            <i class=" material-icons input-field-icon">call</i>
                            <input class="input-field-icon-input" type="text" placeholder="Mobile number" id="mobnum">
                        </div>
                        <div class="input-field-container">
                            <i class=" material-icons input-field-icon">mail</i>
                            <input class="input-field-icon-input" type="text" placeholder="Email" id="email">
                        </div>
                        <div class="input-field-container">
                            <i class=" material-icons input-field-icon">person</i>
                            <input class="input-field-icon-input" type="text" placeholder="Full name" id="fnam">
                        </div>
                        <div class="input-field-container">
                            <i class=" material-icons input-field-icon">vpn_key</i>
                            <input class="input-field-icon-input" type="text" placeholder="Password" id="pswrd">
                        </div>
                        <div class="input-field-container">
                            <i class=" material-icons input-field-icon">lock</i>
                            <input class="input-field-icon-input" type="text" placeholder="Confirm password"
                                id="cpswrd">
                        </div>
                        <div class="action-btn signup-btn">
                            <button type="button">
                                <p class="primaryText">Signup</p>
                            </button>
                            <p class="primaryText to-login-text">Alread have an account? <a>Login</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="../assets/vectors/User_login_iPad.svg">
                    <h1>Lets Get Started!</h1>
                </div>
            </div>
        </div>
        <div data-role="footer" class="footer">
            <div class="footer-top">
                <div class="footer-left">
                    <h4>Contact</h4>
                    <p class="secondaryText"><a href="mailto:info@eato.eat">info@eato.eat</a></p>
                    <br>
                    <h4>Address</h4>
                    <p class="secondaryText">50, Chez Road, Panisse</p>
                </div>
                <div class="footer-right">
                    <img src="../assets/logo/eoto_logo_light.png">
                </div>
            </div>
            <div class="footer-bottom">
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <i class="material-icons">account_circle</i>
                <p class="footer-copyrights infoText">© 2021 Eato. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>