<html>

<head>
    <title>Write-Review</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->
    <link rel="stylesheet" href="../css/card-css.css" />
    <link rel="stylesheet" href="../css/write-review.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
    <div data-role="page" id="review">
        <!-- <div data-role="header" data-position="fullscreen"> -->
        <div class="card">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <div class="ui-bar ui-bar" style="height: 30px;">
                        <div class="ui-bar ui-bar">
                            <img src="../assets/leftarrow.png" style="height: 15px;">
                        </div>
                    </div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-bar ui-bar" style="height: 30px; text-align: center;   display: flex;
                    justify-content: center;
                    align-items: center;">Write a Review</div>
                </div>
                <div class="ui-block-c">
                    <div class="ui-bar ui-bar" style="height: 30px;"></div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <div role="main" class="ui-content">
            <div class="review-desc">
                <h5>Rate and Drop comments, to make your</h5>
                <h5>favorite home cookers serve better</h5>
            </div>
            <div class="stars">
                <div class="ui-grid-d">
                    <div class="ui-block-a">
                        <img src="../assets/star.png" style="height: 27px;">
                    </div>
                    <div class="ui-block-b">
                        <img src="../assets/star.png" style="height: 27px;">
                    </div>
                    <div class="ui-block-c">
                        <img src="../assets/star.png" style="height: 27px;">
                    </div>
                    <div class="ui-block-d">
                        <img src="../assets/star.png" style="height: 27px;">
                    </div>
                    <div class="ui-block-e">
                        <img src="../assets/star.png" style="height: 27px;">
                    </div>
                </div>
            </div>
            <div class="stars">
                <form>
                    <!-- <label for="text-1">Text input:</label> -->
                    <div class="comment-box">
                        <input type="text" name="text-1" id="text-1" value="" placeholder="Write a comment" style="height: 250px;">
                    </div>
                    
                </form>
            </div>
           
              
                    <!-- <div class="ui-grid-b">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar" style="height: 30px;">
                                <div class="ui-bar ui-bar">
                                    <img src="../assets/leftarrow.png" style="height: 15px;">
                                </div>
                            </div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar" style="height: 30px; text-align: center;   display: flex;
                            justify-content: center;
                            align-items: center;">Write a Review</div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar" style="height: 30px;"></div>
                        </div>
                    </div> -->
                    <div class="items">
                        <div class="item">
                           <div>
                               Submit
                           </div>
                            </div>
                            </div>
                            </div>
             
        </div>
    </div>
</body>

</html>